* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
/* container 1140px */
.container {
  max-width: 1140px !important;
}
/* opacity 0.6  */
.opacity_6 {
  opacity: 0.6;
}
/* opacity 0.8 */
.opacity_8 {
  opacity: 0.8;
}
/* Navbar responsive btn*/
.nav_line {
  width: 35px;
  height: 5px;
  border-radius: 4px;
  background-color: var(--clr-white);
  margin-bottom: 4px;
}
/* Navbar btn display none */
.nav_btn {
  display: none;
}
.nav_line:first-child {
  margin-top: 4px;
}
/* Hero Max width */
.maxwidth_1440 {
  max-width: 1440px;
}
/* background hero image */
.bg_heroimg {
  background-image: url(/assets/img/png/herobg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.phone {
  left: 224px;
  animation: phone 3s linear infinite;
}
@keyframes phone {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.lines {
  top: 50%;
  left: 36%;
  animation: lines 3s linear infinite;
}
@keyframes lines {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  50% {
    transform: translateX(15px) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}
.apps {
  right: 165px;
  top: 50%;
  transform: translateY(-50%);
  animation: apps 3s linear infinite;
}
@keyframes apps {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  50% {
    transform: translateX(15px) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}
.networkcard {
  border-radius: 10px;
  border: 1px solid rgba(51, 167, 249, 0.2);
  background: rgba(51, 167, 249, 0.1);
  backdrop-filter: blur(5px);
  padding: 20px 28px;
  width: 341px;
  position: absolute;
  top: 39.5%;
  left: 51%;
  transform: translate(-50%);

}
/* Our App card */
.ourapp_card {
  border-radius: 10px;
  background-color: #040e15;
  padding: 80px 20px 53px;
  border: transparent;
  transition: all 0.4s linear;
}
.ourapp_card:hover svg path {
  stroke: var(--clr-blue);
}
.configure_fill:hover svg path {
  fill: var(--clr-blue);
  stroke: none;
}
.circle_ourapp {
  width: 66px;
  height: 66px;
}
.ourapp_card:hover .circle_ourapp {
  background-color: rgba(255, 255, 255, 0.23);
}
/* border ourapp card */
.ourapp_card:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(
    180.74deg,
    #33a7f9 0%,
    #33a7f9 51.29%,
    rgba(232, 15, 15, 0) 100%
  );
}
/* hover our app shadow in card */
.ourapp_card:hover::before {
  content: "";
  position: absolute;
  height: 67px;
  width: 67px;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  background-color: #33a7f9;
  filter: blur(70px);
}
/* Toughest job backgound image */
.bg_imgtoughestjob {
  background-image: url(/assets/img/png/toughestjob.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* toughest job card */
.toughestjob_card {
  border-radius: 10px;
  background: rgba(51, 167, 249, 0.06);
  backdrop-filter: blur(10px);
  padding: 38px;
}
/* Button Connect wallet */
.btn_connectwallet {
  background: #33a7f9;
  box-shadow: 0px 0px 42px 0px rgba(51, 167, 249, 0.5);
  padding: 18px 32px;
  transition: all 0.4s linear;
}
/* Button Connect wallet Hover Effect */
.btn_connectwallet:hover {
  background-color: var(--clr-white);
  color: var(--clr-blue);
  box-shadow: none;
}
/* Button Join Now */
.btn_joinnow {
  background-color: var(--clr-blue);
  padding: 18px 32px;
  box-shadow: 0px 0px 42px 0px rgba(51, 167, 249, 0.5);
  transition: all 0.4s linear;
}
/* Button Join Now Hover Effect */
.btn_joinnow:hover {
  background-color: var(--clr-white);
  color: var(--clr-blue);
  box-shadow: none;
}
/*  button bitblue */
.btn_bitblue {
  background-color: var(--clr-blue);
  padding: 18px 110px;
  box-shadow: 0px 0px 42px 0px rgba(51, 167, 249, 0.5);
  border-radius: 12px;
  transition: all 0.4s linear;
}
/* button bitblue hover effect */
.btn_bitblue:hover {
  background-color: var(--clr-white);
  color: var(--clr-blue);
  box-shadow: none;
}
/* button blockchain */
.btn_blockchain {
  padding: 18px 91px;
  border-radius: 12px;
  background: #1d2123;
  transition: all 0.4s linear;
}
/* button blockchain hover effect */
.btn_blockchain:hover {
  background-color: var(--clr-white);
  color: var(--clr-blue);
}
/* Accordion */
.accordion-button {
  background: black !important;
  padding: 20px 16px !important;
}
.accordion-body {
  padding: 0 16px 20px 16px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button:hover {
  border-radius: 6px !important;
}
.accordion-item .accordion-button {
  font-size: var(--fs-md) !important;
  color: var(--clr-white) !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 600 !important;
  border-radius: 6px !important;
}
.accordion-item {
  border-radius: 6px !important;
  border: 1px solid rgba(51, 167, 249, 0.4) !important;
  max-width: 980px;
  margin: auto;
  margin-top: 15px;
  background-color: black !important;
}
.accordion-button::after {
  background-image: url(/assets/img/svg/arrowicon.svg) !important;
}
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
/* accordion end */
::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: var(--fs-xsm);
  font-weight: 400;
  color: var(--clr-white);
  opacity: 0.5;
}
.engage input {
  outline: none;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(16px);
  padding: 14px;
}
textarea {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(16px);
  outline: none;
  border: none;
  padding: 14px;
}
.engage::before {
  content: "";
  position: absolute;
  width: 273px;
  height: 273px;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  background-color: #00a3ff;
  filter: blur(200px);
  border-radius: 100%;
}
/* checkbox I agree to the Terms of service */
.main {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-top: 20px;
  cursor: pointer;
}
input[type="checkbox"] {
  visibility: hidden;
}
.agree_checkbox {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1.4px solid var(--white, #fbfbfb);
  opacity: 0.699999988079071;
  border-radius: 3px;
}
.main input:checked ~ .agree_checkbox {
  background-color: transparent;
}
.agree_checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.main input:checked ~ .agree_checkbox:after {
  display: block;
}
.main .agree_checkbox:after {
  left: 4px;
  bottom: 3px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* checkbox I agree to the Terms of service end */
/* button send */
.btn_send {
  background: var(--clr-blue);
  box-shadow: 0px 0px 42px 0px rgba(51, 167, 249, 0.5);
  padding: 18px 79px;
  transition: all 0.4s linear;
}
/* button send hover effect */
.btn_send:hover {
  background-color: var(--clr-white);
  color: var(--clr-blue);
  box-shadow: none;
}
/* footer icon hover  */
.iconhover:hover path {
  stroke: var(--clr-blue);
}
/* footer text hover */
.text_hover:hover {
  color: var(--clr-blue);
  -webkit-text-stroke: 1px;
  cursor: pointer;
}
/* Engage with us card */
.fngagecard {
  border: 1px solid rgba(51, 167, 249, 0.18);
  border-radius: 12px;
  padding: 32px;
}

@media (max-width: 767px) {
  /* Navbar btn show */
  .nav_btn {
    display: block;
  }
  /* Navbar */
  .nav {
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-black);
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    transition: all 0.4s linear;
  }
  /* Navbar left 0px */
  .left_0 {
    left: 0;
  }
}
